.hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2, .hack h3, .hack h4, .hack h5, .hack h6, .hack strong .hack footer{
    font-size: 1.1rem;
    font-family: Iosevka, Overpass Mono;
}

.hack footer {
    color: rgba(118, 118, 118, 1);
}
.hack .help-block {
    color: rgba(134, 134, 134, 1);
}

.ascii-art {
    white-space: pre;
}
